<!-- HEADER -->
<header id="main-header" class="py-2 bg-primary text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1><i class="fas fa-user"></i> Edit Profile</h1>
      </div>
    </div>
  </div>
</header>

<!-- RESET PASSWORD -->
<section id="register">
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card">
          <div class="card-header">
            <h4>Change Password</h4>
          </div>
          <div class="card-body">
            <form action="/user/profile/reset?_method=PUT" method="post">
              <input type="hidden" name="_method" value="PUT">
              <div class="form-group">
                <label for="password">Enter New Password</label>
                <input name="password" type="password" class="form-control" required />
              </div>
              <div class="form-group">
                <label for="password2">Confirm New Password</label>
                <input name="password2" type="password" class="form-control" required />
              </div>
              <input type="submit" value="Make Changes" class="btn btn-primary btn-block" required />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>